

  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/asets/index.css">
  </head>
  <body>
    <section>
    <div class="section">
      <div class="section1">
        <div class="img-slider">
          <img src="/asets/images/slidder-img1.webp" alt="" class="img">
          <img src="/asets/images/slidder-img2.jpeg" alt="" class="img">
          <img src="/asets/images/slidder-img3.webp" alt="" class="img">
          <img src="/asets/images/slidder-img4.jpeg" alt="" class="img">
          <img src="/asets/images/slidder-img5.webp" alt="" class="img">
        </div>
      </div>
      <div class="section2">
        <div class="container">
          <div class="items">
            <div class="img img1"><img src="/asets/images/item-img1.webp" alt=""></div>
            <div class="name">SHOES</div>
            <div class="price">$5</div>
            <div class="info">Lorem ipsum dolor sit amet consectetur.</div>
          </div>
          <div class="items">
            <div class="img img2"><img src="/asets/images/item-img2.webp" alt=""></div>
            <div class="name">MEN's T-SHIRT</div>
            <div class="price">$6.34</div>
            <div class="info">Lorem ipsum dolor sit.</div>
          </div>
          <div class="items">
            <div class="img img3"><img src="/asets/images/item-img3.jpeg" alt=""></div>
            <div class="name">JEANS</div>
            <div class="price">$9</div>
            <div class="info">Lorem ipsum dolor sit amet.</div>
          </div>
          <div class="items">
            <div class="img img1"><img src="/asets/images/item-img4.webp" alt=""></div>
            <div class="name">WATCH</div>
            <div class="price">$9.1</div>
            <div class="info">Lorem ipsum dolor sit.</div>
          </div>
          <div class="items">
            <div class="img img1"><img src="/asets/images/item-img5.webp" alt=""></div>
            <div class="name">SMART PHONE</div>
            <div class="price">$20</div>
            <div class="info">Lorem ipsum dolor sit.</div>
          </div>
          <div class="items">
            <div class="img img1"><img src="/asets/images/item-img6.webp" alt=""></div>
            <div class="name">TELEVISION</div>
            <div class="price">$18</div>
            <div class="info">Lorem ipsum dolor sit amet consectetur.</div>
          </div>
          <div class="items">
            <div class="img img1"><img src="/asets/images/item-img7.webp" alt=""></div>
            <div class="name">HOODIES</div>
            <div class="price">$6.7</div>
            <div class="info">Lorem ipsum dolor sit.</div>
          </div>
          <div class="items">
            <div class="img img1"><img src="/asets/images/item-img8s.jpeg" alt=""></div>
            <div class="name">DINNER SET</div>
            <div class="price">$10</div>
            <div class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
          </div>
          <div class="items">
            <div class="img img1"><img src="/asets/images/item-img8.jpeg" alt=""></div>
            <div class="name">BLANKETS</div>
            <div class="price">$9.9</div>
            <div class="info">Lorem ipsum dolor sit amet consectetur adipisicing.</div>
          </div>
          <div class="items">
            <div class="img img1"><img src="/asets/images/item-img9.webp" alt=""></div>
            <div class="name">LAPTOP</div>
            <div class="price">$99</div>
            <div class="info">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</div>
          </div>
          <div class="items">
            <div class="img img1"><img src="/asets/images/item-img10.jpeg" alt=""></div>
            <div class="name">MICROWAVE</div>
            <div class="price">$30</div>
            <div class="info">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</div>
          </div>
          <div class="items">
            <div class="img img1"><img src="/asets/images/item-img11.jpeg" alt=""></div>
            <div class="name">COFFEE MAKER</div>
            <div class="price">$29.7</div>
            <div class="info">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</div>
          </div>
          <div class="items">
            <div class="img img1"><img src="/asets/images/item-img12.jpeg" alt=""></div>
            <div class="name">BED</div>
            <div class="price">$100</div>
            <div class="info">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</div>
          </div>
          <div class="items">
            <div class="img img1"><img src="/asets/images/item-img13.jpeg" alt=""></div>
            <div class="name">AIR CONDITIONER</div>
            <div class="price">$78</div>
            <div class="info">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</div>
          </div>
          <div class="items">
            <div class="img img1"><img src="/asets/images/item-img14.jpg" alt=""></div>
            <div class="name">BOOK</div>
            <div class="price">$9</div>
            <div class="info">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</div>
          </div>
          <div class="items">
            <div class="img img1"><img src="/asets/images/item-img15.jpeg" alt=""></div>
            <div class="name">BAG</div>
            <div class="price">$36.5</div>
            <div class="info">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</div>
          </div>
          <div class="items">
            <div class="img img1"><img src="/asets/images/item-img16.jpeg" alt=""></div>
            <div class="name">SAREES</div>
            <div class="price">$25.6</div>
            <div class="info">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</div>
          </div>
          <div class="items">
            <div class="img img1"><img src="/asets/images/item-img17.webp" alt=""></div>
            <div class="name">WASHING MACHINE</div>
            <div class="price">$56</div>
            <div class="info">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</div>
          </div>
        </div>

      </div>
    </div>

  </section>
  </body>
  </html>